  <div id="headerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                   {{>card title="Monkey" color="brown" icon="pencil"}}
                </div>
                <div class="col-xs-6 col-sm-2">

                   {{>card title="Contacts" color="grape" icon="group"}}

                    </a>
                </div>
                <div class="col-xs-6 col-sm-2">
                  {{>card title="Messages" color="primary" icon="envelope-o" badge="99"}}
                </div>
                <div class="col-xs-6 col-sm-2">
                {{>card title="Gallery" color="inverse" icon="camera" badge="3"}}                  
                </div>

                <div class="col-xs-6 col-sm-2">
                 {{>card title="Settings" color="midnightblue" icon="cog"}}                                                    
                </div>
                <div class="col-xs-6 col-sm-2">
                {{>card title="Plugins" color="orange" icon="wrench"}}                      
                </div>
                            
            </div>
        </div>
    </div>